.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 16px;
    color: #d66d6d;
}
#to_email{
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container{
    background-color: #838fcf;
    color: #e1a1a1;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    top: 80%;
    left: 80%;
    height: 250px;
    width: 250px;
    padding:20px;

}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
}